In [5]:
import pandas as pd
from matplotlib import pyplot as plt

In [6]:
df = pd.read_csv("shoe_sales.csv")
df.head()

       date   brand  sold_qty
0  9/1/2023    Nike      24.0
1  9/1/2023  Adidas      14.0
2  9/2/2023    Nike      21.0
3  9/2/2023  Adidas      12.0
4  9/3/2023    Nike      18.0

In [4]:
df.shape

(60, 3)

In [7]:
df.describe()

         sold_qty
count   58.000000
mean    27.482759
std     88.519844
min      7.000000
25%     12.250000
50%     16.000000
75%     19.750000
max    689.000000

In [8]:
df[df.sold_qty>19.75].shape

(15, 3)

Nike Analysis

In [9]:
df_nike = df[df["brand"] == "Nike"]
df_nike.shape

(30, 3)

In [10]:
df_nike.describe()

        sold_qty
count  28.000000
mean   19.642857
std     3.117624
min    14.000000
25%    17.000000
50%    19.500000
75%    22.000000
max    25.000000

In [11]:
round(df_nike.sold_qty.median())

20

In [13]:
df_nike[df_nike.sold_qty.isnull()]

         date brand  sold_qty
32  9/17/2023  Nike       NaN
48  9/25/2023  Nike       NaN

In [14]:
val = round(df_nike.sold_qty.median())
val

20

In [15]:
df_nike.sold_qty.fillna(val,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_5928\496827104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nike.sold_qty.fillna(val,inplace=True)

In [24]:
df_nike.loc[[32,48]]
round(df_nike.sold_qty.sum())

590

Adidas Analyis

In [19]:
df_adidas = df[df["brand"] == "Adidas"]
df_adidas.shape

(30, 3)

In [20]:
df_adidas.describe()

         sold_qty
count   30.000000
mean    34.800000
std    123.602366
min      7.000000
25%     10.000000
50%     12.500000
75%     15.000000
max    689.000000

In [22]:
round(df_adidas.sold_qty.median())

12

In [26]:
int(df_adidas.sold_qty.sum())

1044