In [9]:
import pandas as pd

x = pd.read_csv("weather_data.csv")
x

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [10]:
type(x.day[0])

str

In [11]:
x.set_index('day',inplace=True)
x

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.1        8.1  Cloudy
1/11/2017         40.0       12.0   Sunny

In [12]:
x.fillna(0)

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           0.0        9.0   Sunny
1/5/2017          28.0        0.0    Snow
1/6/2017           0.0        7.0       0
1/7/2017          32.0        0.0    Rain
1/8/2017           0.0        0.0   Sunny
1/9/2017           0.0        0.0       0
1/10/2017         34.1        8.1  Cloudy
1/11/2017         40.0       12.0   Sunny

In [17]:
x.fillna({
    'temperature': x.temperature.mean(),
    'windspeed': x.windspeed.mean(),
})

           temperature  windspeed   event
day
1/1/2017         32.00       6.00    Rain
1/4/2017         33.22       9.00   Sunny
1/5/2017         28.00       8.42    Snow
1/6/2017         33.22       7.00     NaN
1/7/2017         32.00       8.42    Rain
1/8/2017         33.22       8.42   Sunny
1/9/2017         33.22       8.42     NaN
1/10/2017        34.10       8.10  Cloudy
1/11/2017        40.00      12.00   Sunny

In [18]:
x.fillna(method='ffill')

C:\Users\Admin\AppData\Local\Temp\ipykernel_3460\29277634.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  x.fillna(method='ffill')

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017          32.0        9.0   Sunny
1/5/2017          28.0        9.0    Snow
1/6/2017          28.0        7.0    Snow
1/7/2017          32.0        7.0    Rain
1/8/2017          32.0        7.0   Sunny
1/9/2017          32.0        7.0   Sunny
1/10/2017         34.1        8.1  Cloudy
1/11/2017         40.0       12.0   Sunny

In [19]:
x.dropna(how='all')

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/10/2017         34.1        8.1  Cloudy
1/11/2017         40.0       12.0   Sunny

In [20]:
x.dropna(thresh=1)

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/10/2017         34.1        8.1  Cloudy
1/11/2017         40.0       12.0   Sunny