In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("stock_data.csv")
df

,Datasource: Google finance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,tickers,eps,revenue,price,people
1,GOOGL,27.82,87,845,larry page
2,WMT,4.61,484,65,n.a.
3,MSFT,-1,85,64,bill gates
4,RIL,not available,50,1023,mukesh ambani
5,TATA,5.6,-1,n.a.,ratan tata

In [4]:
df = pd.read_csv("stock_data.csv",skiprows=1)
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [7]:
df = pd.read_csv("stock_data.csv", header = 1 , names= ["stock_symbol",])
df

                                stock_symbol
GOOGL 27.82          87  845      larry page
WMT   4.61           484 65             n.a.
MSFT  -1             85  64       bill gates
RIL   not available  50  1023  mukesh ambani
TATA  5.6           -1   n.a.     ratan tata